body {
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #F6F5F1;
    color: rgb(0, 0, 0);
}

#header h1 {
    width: 80%;
    margin-left: 10px;
    font-size: 24px;
}

.container {
    padding: 20px;
}

.filters {
    font-family: Trebuchet MS;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80;
    background-color: #ff6600;
    border-radius: 10px;
    margin-bottom: 15px;
}

.filter {
    width: 50%;
    font-family: Trebuchet MS, sans-serif;
    display: flex;
    align-items: center;
}

.filter label {
    margin-right: 5px;
    color: white;
}

.filter select {
    padding: 5px;
}

.stats {
    width: 50%;
    display: flex;
}

.stat {
    text-align: center;
    width: 50%;
    margin-right: 20px;
    color: white;
}

.stat-box {
    margin: 20px;
    text-align: center;
}

.stat-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.stat-box p {
    font-size: 24px;
    margin: 0;
}

.statz {
    text-align: center;
    width: 50%;
    margin-right: 20px;
    color: white;
}

.statz-box {
    margin: 20px;
    text-align: center;
}

.statz-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.statz-box p {
    font-size: 24px;
    margin: 0;
}

#teks{
    font-size:15px;
    width: 100%;
    background-color: #F6F5F1;
    border-radius: 3px;
    color: black;
    text-align: center;
}

#tekz{
    font-size:15px;
    width: 100%;
    background-color: #F6F5F1;
    border-radius: 3px;
    color: black;
    text-align: center;
}

.pieChart{
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chart-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.chart-row > div {
    flex: 1 1 calc(50% - 10px);
    margin-bottom: 20px;
}

#dataTableContainer {
    overflow-x: auto;
}

#dataTable {
    width: 100%;
}

footer {
    background-color: #ff6600;
    text-align: center;
    padding: 10px;
    color: white;
}

@media (max-width: 768px) {
    .filter, .stat, .statz, .chart-row,.lineChart,.dataTable > div {
        flex: 1 1 100%;
    }
}
